.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    border-radius: 10px;
    color: floralwhite;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: $xl-size;
    padding: 1rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    border-radius: 5px;
    color: floralwhite;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}